[
  "founda/application/xds-widgets",
  { "path": "founda/application/xds-viewer-ui", "short": "VW" },
  { "path": "founda/application/xds-prefetch-ui", "short": "PF" },
  { "path": "founda/application/xds-nuxt-base", "short": "NX" }
]
